@model IList<LancheWeb.Models.Models.Ingrediente>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @foreach (var item in Model)
            {
        <tr>
            <td>@item.IngredienteId</td>
            <td>@Html.RouteLink(item.Nome, "DetalheIngrediente", new { id = item.IngredienteId })</td>
            <td id="preco@(item.IngredienteId)">@item.Valor</td>
            <td id="quantidade@(item.IngredienteId)">@item.Quantidade</td>
            <td align="right">
                <button type="button" class="btn btn-info btn-sm" onclick="location.href='@Url.Action("Editar", "Ingrediente", @item)'">
                    Editar
                </button>

                <button type="button" class="btn btn-danger btn-sm" onclick="location.href='@Url.Action("Excluir", "Ingrediente", @item)'">
                    Excluir
                </button>
            </td>
        </tr>
                }
        </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Cadastrar", "Ingrediente")'">Novo</button>

    <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript">


    </script>

