@model IList<LancheWeb.Models.Models.Lanche>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @foreach (var item in Model)
            {
        <tr>
            <td>@item.LancheId</td>
            <td>@item.Nome</td>
            <td align="right">
                <button type="button" class="btn btn-info btn-sm" onclick="location.href='@Url.Action("Editar", "Lanche", @item)'">
                    Editar
                </button>

                <button type="button" class="btn btn-danger btn-sm" onclick="location.href='@Url.Action("Excluir", "Lanche", @item)'">
                    Excluir
                </button>
            </td>
        </tr>
                }
        </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Cadastrar", "Lanche")'">Novo</button>

    <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript">


    </script>

